@tailwind base;
@tailwind components;

@media (max-width: 480px) {
    .fc-header-toolbar {
        flex-direction: column;
    }
}

[x-cloak] {
    display: none !important;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.fc-scroller {
    overflow: auto !important;
}
button:focus {
    outline: none;
}
/* *:not(input.field) {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} */

[data-tooltip="Pop-out"] {
    display: none;
}

.selected-row {
    @apply bg-gradient-to-b from-green-400 to-green-500 border-2 border-primary-600 !important;
}

@tailwind utilities;
