@tailwind base;
@tailwind components;

@media (max-width: 480px) {
    .fc-header-toolbar {
        flex-direction: column;
    }
}

.selected-row {
    @apply bg-gradient-to-b from-green-400 to-green-500 border-2 border-primary-600 !important;
}

@tailwind utilities;

[x-cloak] {
    display: none !important;
}

::-webkit-scrollbar {
    width: 3px;
    height: 7px;
}
::-webkit-scrollbar-track {
    @apply bg-primary-600;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.fc-scroller {
    overflow: auto !important;
}
button:focus {
    outline: none;
}
/* *:not(input.field) {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} */

[data-tooltip="Pop-out"] {
    display: none;
}
